.promo
{
    padding: 140px 0;
    @media screen and (max-width: 1200px) {
        padding: 40px 20px;
        text-align: center;
    }
    .promo_wrapper
    {
        display: flex;
        column-gap: 10px;
        margin: 40px 0;
        @media screen and (max-width: 1200px) 
        {
            flex-wrap: wrap;
        }
    }

    > div 
    {
        flex: 1;
    }

    .promo_body
    {
        display: flex;
        flex-direction: column;
        width: 50%;

        @media screen and (max-width: 1200px) {
            width: 100%;
        }

        .promo_body__title
        {
            display: flex;
            flex-direction: column;
            row-gap: 10px;
            font-size: 45px;
            font-family: 'MullerExtraBold';
            margin-bottom: 60px;

            @media screen and (max-width: 1200px) {
                font-size: 35px;
            }

            > label:first-child
            {
                color: #bd975c;
                white-space: nowrap;
                @media screen and (max-width: 1200px) {
                    white-space: pre-wrap;
                }
            }

            > label:last-child
            {
                color: #ffc468;
            }
        }

        .promo_body__points
        {
            display: flex;
            flex-wrap: wrap;

            .promo_body__points_item
            {
                display: flex;
                align-items: start;
                column-gap: 10px;
                width: 50%;
                padding-right: 30px;
                margin-bottom: 30px;
                box-sizing: border-box;
                text-align: left;

                .promo_body__points_item_text_title
                {
                    color: #ffaf18;
                    font-size: 16px;
                    line-height: 24px;
                }

                .promo_body__points_item_text_desc
                {
                    color: #b99150;
                    line-height: 16px;
                    text-align: left;
                }
            }
        }

    }

    .promo_pic
    {
        padding: 0 20px;
        box-sizing: border-box;
        width: 50%;
        display: flex;
        align-items: end;
        justify-content: center;
        img 
        {
            width: 80%;
            max-width: 100%;
            @media screen and (max-width: 1200px) {
                width: auto;
            }
        }
        @media screen and (max-width: 1200px) {
            width: 100%;
            text-align: center;
        }
    }
}

.promo_body__choose_pizza_btn
{
    display: inline-block;
    background-color: #ffaf18;
    padding: 20px 40px;
    font-size: 16px;
    cursor: pointer;
    @media screen and (max-width: 1200px) 
    {

    }
}
