header
{
    width: 100%;
    height: 100px;
    box-shadow: 0 0 15px #989898;
    
    .header_wrapper
    {
        width: 1200px;
        height: 100%;
        margin: 0 auto;
        box-sizing: border-box;
        padding: 10px 0;
        display: flex;
        align-items: center;
        position: relative;

        @media screen and (max-width: 1200px)
        {
            width: 100%;
            padding: 10px 20px;
        }

        .header_brand 
        {
            display: flex;
            column-gap: 10px;
            align-items: center;

            .header_brand__logo
            {
                width: 80px;
                height: 80px;
                background-image: url(/assets/img/pizza.png);
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center center;
            }

            .header_brand__text
            {
                display: flex;
                flex-direction: column;
                row-gap: 5px;
                font-size: 2rem;
                font-family: 'MullerBlack';
                color: #ffc468;
                text-transform: uppercase;
            }
        }

        .header_menu
        {
            flex: 1;
            display: flex;
            justify-content: center;
            padding: 0 20px;
            @media screen and (max-width: 1200px)
            {
                justify-content: end;
            }

            .header_menu__list
            {
                display: flex;
                justify-content: space-between;
                column-gap: 40px;
                list-style: none;

                @media screen and (max-width: 1200px)
                {
                    display: none;
                    position: absolute;
                    top: 100%;
                    width: 100%;
                    flex-direction: column;
                    padding: 19px;
                    left: 0px;
                    background: #fff;
                    border-bottom: 1px solid #989898;
                    &.active
                    {
                        display: flex;
                    }
                }

                li a
                {
                    display: block;
                    font-family: 'MullerRegular';
                    font-size: 1.3rem;
                    color: #a46b00;
                    cursor: pointer;
                    @media screen and (max-width: 1200px)
                    {
                        padding: 10px 0;
                    }
                }
            }

            .header_hamburger
            {
                display: none;
                flex-direction: column;
                row-gap: 10px;
                width: 35px;
                @media screen and (max-width: 1200px)
                {
                    display: flex;
                }
                span
                {
                    height: 3px;
                    background-color: #989898;
                }
            }
        }
    }
}