.gallery_title
{
    color: #bd975c;
    font-size: 35px;
    width: 100%;
    display: block;
    text-align: center;
    margin-bottom: 40px;
}
.gallery_blocks
{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 140px;

    .gallery_blocks__block
    {
        width: 25%;
        box-sizing: border-box;
        padding-right: 20px;
        margin-bottom: 20px;
        height: 350px;

        @media screen and (max-width: 1200px)
        {
            width: 50%;
        }

        > div 
        {
            box-shadow: 0 4px 15px -5px #989898;
            height: 100%;
            width: 100%;
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            row-gap: 15px;
            padding: 20px;
            box-sizing: border-box;
            min-width: 250px;
            > a 
            {
                display: block;
                width: 100%;
                text-align: center;
                cursor: pointer;
                img
                {
                    width: 80%;
                    max-width: 250px;
                }
            } 
        }

        .gallery_blocks_title
        {
            font-size: 18px;
            font-family: 'MullerBold';
        }

        .gallery_blocks_btn
        {
            display: block;
            width: 100%;
            background-color: #ffaf18;
            padding: 10px;
            box-sizing: border-box;
            color: #000;
            line-height: 30px;
            text-align: center;
            font-size: 16px;
            font-family: 'MullerBold';
            cursor: pointer;
        }

        .gallery_blocks_desc
        {
            flex: 1;
            font-size: 14px;
            font-family: 'MullerRegular';
            text-align: center;
            line-height: 18px;
        }
    }
}

.image_overlay
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.80);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    background-size: auto 90%;
    transition: all ease-in-out 0.4s;
}
