.order_block
{
    display: flex;
    align-items: center;
    box-sizing: border-box;
    column-gap: 100px;
    padding-bottom: 40px;
    @media screen and (max-width: 1200px) {
        flex-wrap: wrap;
        padding: 0 20px;
    }
    > div
    {
        width: 33.3333%;
        min-width: 250px;
        @media screen and (max-width: 1200px) {
            width: 100%;
        }
    }

    .order_block__text
    {
        > h1 
        {
            font-size: 35px;
            line-height: 45px;
            font-family: 'MullerExtraBold';
            > span:first-child
            {
                color: #ffc468;
            }
            > span:last-child
            {
                color: #bd975c;
            }
        }
        > p
        {
            color: #b99150;
            font-size: 16px;
            line-height: 24px;
        }
    }

    .order_block__pic img
    {
        width: 100%;
    }

    .order_block__form
    {
        form 
        {
            display: flex;
            flex-direction: column;
            row-gap: 20px;

            input
            {
                border: 1px solid #b99150;
                padding: 20px;
                width: 100%;
                box-sizing: border-box;
            }
            
            input.invalid
            {
                border: 1px solid red;
            }

            button
            {
                display: block;
                width: 100%;
                background-color: #ffaf18;
                padding: 10px;
                box-sizing: border-box;
                color: #000;
                line-height: 30px;
                text-align: center;
                font-size: 16px;
                font-family: 'MullerBold';
                border: 0;
                cursor: pointer;
            }

            ::placeholder {
                color: #cba86e;
                opacity: 1;
            }
            :-ms-input-placeholder {
                color: #cba86e;
            }
            ::-ms-input-placeholder {
                color: #cba86e;
            }

        }
    }
}